@charset "utf-8";
.header {
  position: fixed;
  width: 100%;
  /* height: 135px; */
  padding: 50px 0;
  background-color: #f2f2f2;
  z-index: 9999;
}

.header-menu ul {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(12px, 3vw, 16px);
  text-align: center;
  letter-spacing: 2px;
}
.header-menu ul li {
  padding: 3px 0;
}
.header-menu ul a {
  width: calc(100% / 6);
  min-width: 135px;
  white-space: nowrap;
}
/* 햄버거 메뉴 */
.hamburger {
  /* display: flex; */
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  border: 0;
  background: none;
}
/* 햄버거 메뉴 */
.hamburger span {
  width: 25px;
  height: 1px;
  background-color: #000;
  /* border: 2px; */
  /* border-radius: 3px; */
  /* margin: 3px 0; */
}
/* 모바일일때 사이드 메뉴 */
.mobile-menu {
  position: fixed;
  top: 90px;
  left: 0px;
  width: 100vw;
  /* height: 100vh; */
  height: 0;
  /* padding: 30px; */
  /* padding-top: 30px; */
  background-color: #f2f2f2;
  z-index: 999;
  transition: all 0.3s;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  height: 100vh;
}
.mobile-menu li a {
  display: block;
  padding: 1rem 0;
  font-weight: 700;
  font-family: "Pretendard";
}

/* 서브메뉴 */
.sub-menu {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sub-menu li a {
  font-size: 15px;
  font-weight: 600;
  font-family: "Baskervville";
}
.sub-menu.open {
  height: 205px;
  opacity: 1;
  visibility: visible;
}

/* 검색 아이콘 */
.search-icon {
  position: relative;
  display: block;
  /* transform: translateY(-50%); */
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}
.search-open {
  position: absolute;
  top: 5px;
  right: 20px;
  width: 20px;
  transition: all 0.3s;
}
.search-open > img {
  width: 100%;
}
.search-open.active {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}
/* 검색 창닫기 */
.search-close {
  position: absolute;
  top: 5px;
  right: 20px;
  /* display: none; */
  width: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.search-close > img {
  width: 100%;
}
.search-close.active {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  transform: rotate(-90deg);
}
/* 검색 페이지 */
.search {
  position: fixed;
  top: 90px;
  left: 0px;
  width: 100vw;
  height: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  background-color: #f2f2f2;
  z-index: 999;
  transition: all 0.3s;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.search.active {
  height: 100vh;
  opacity: 1;
  visibility: visible;
}
.search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 55%;
  height: 35px;
  border-bottom: 1px solid #000;
}
.search-page input {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.search-page input:focus::placeholder {
  opacity: 0;
}
.search-page img {
  width: 20px;
}

/* 로고 */
.header-logo {
  width: 100px;
  margin: auto;
  margin-top: 50px;
}
.header-logo a {
  width: 100%;
}
.header-logo img {
  width: 100%;
}
/* 반응형 */

/* @media screen and (max-width: 1920px) {
  .header-menu {
    display: flex;
    flex-direction: row;
  }
} */
@media screen and (max-width: 2306px) {
  .search-icon {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 30px 0;
  }
  .header-menu ul {
    font-size: 14px;
  }
  .search-icon {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 390px) {
  .header {
    padding-top: px !important;
  }
  .header-logo {
    width: 60px;
    margin: auto;
    /* margin-top: 30px; */
  }
  .header-menu {
    display: none;
    visibility: hidden;
  }
  .hamburger {
    display: flex;
  }
  .hamburger span {
    transition: transform 0.3s ease;
  }
  /* 햄버거 메뉴 애니메이션 */
  .hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-3px, 6px);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-2px, -6px);
  }
  .header-container {
    width: 90%;
  }
  .search-icon {
    display: block !important;
    visibility: visible;
  }
}
