@charset "utf-8";

.category-inner {
  width: 100%;
  padding: 100px 0 0;
  text-align: center;
}
.product-desc h2 {
  position: relative;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 3vw, 25px);
  letter-spacing: 7px;
}
.product-desc h2::after {
  content: "";
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 4px;
  background-color: #000;
}
.product-desc p {
  margin-bottom: 50px;
}
.product-imgs {
  width: 85%;
}
.product-imgs ul {
  margin-bottom: 100px;
}
.product-imgs ul li {
  width: calc(100% / 3);
}
.product-imgs ul li img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.product-imgs ul li a {
  font-family: "Baskervville", serif;
  font-size: clamp(12px, 3vw, 16px);
  font-weight: 700;
  /* letter-spacing: 1px; */
}
.outdoor-imgs ul li {
  width: calc(100% / 2);
}
@media screen and (max-width: 1920px) {
  .product-desc h2::after {
    top: 52px;
  }
}
@media screen and (max-width: 768px) {
  .product-desc h2::after {
    top: 50px;
  }
}
@media screen and (max-width: 390px) {
  .product-desc h2::after {
    top: 48px;
  }
}
